body{
	background-image: url(img/header_bg.jpg);
}

#logo{
	padding: 260px 575px;
}

i{
	font-size: 30px;
	color: white;
	text-align: center;
	margin: 30px;
}

div{
	font-size: 15px;
}