body{
	background-image: url(img/header_bg.jpg);
}

#logo{
	margin-top: 18%;
	margin-left: 40%;
}

i{
	font-size: 30px;
	color: white;
	text-align: center;
	margin: 30px;
}

p{
	font-size: 15px;
}

div{
	margin-bottom: 10%;
	margin-left: 25%; 
}	