body{
	background-image: url(img/header_bg.jpg);
}

#logo{
	margin-top: 5%;
	margin-left: 40%;
}

.b{
	font-size: 30px;
	color: gray;
	text-align: center;
	margin: 30px;
}

p{
	font-size: 15px;
}

div{
	margin-bottom: 10%;
	margin-left: 25%; 
}
		
.a{
	color: gray;
	height: 2;
	float: right;
	margin-left: 10px;
}

#menu{     
	background: white;     
	float:right;     
	color:grey;     
	display: block;     
	width: 100%;
}