body{
	background-image: url(img/header_bg.jpg);
}

i{
	color: white;
	font-size: 100px;
	float: left;
}

h1{
	color:white;
	margin-left: 150px;
	font-size: 50px;
}

h2{
	color: white;
	font-size: 30px;
	margin-left: 30px;
}

p{
	color: white;
	font-size: 30px;
	margin-left: 30px;
}

li{
	color: white;
	font-size: 25px;
	margin-left: 30px;
}

#mail{
	margin-left: 30px;
	font-size: 30px;
	border: solid black;
	background-color: white;
	color: black;
}